.sectionHeader{
    p{
        padding-left: 10px;
    }
    // border: 1px solid red;
    border-left: 4px solid #5d91f7; 
    height: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &Middle{
        flex: 1;
        // padding: 0 10%;
        padding: 0 20px;
    }

    &Right{
        cursor: pointer;
        color: #5d91f7;
        display: flex;
        gap: 8px;
    }
}