#footer{
    padding: 20px 10% 50px;
    background-color: rgb(226, 226, 226);
    // background-color: rgb(229, 229, 229);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .footerGroup{
        // border: 2px solid red;
        h1{
            font-size: 1.5rem;
            text-transform: uppercase;
            font-weight: 600;
            margin-bottom: 1.5rem;
        }

        div > p:not(:last-child) {
            // color: red;
            margin-bottom: 1rem;
        }

        @media screen and (max-width: 500px) {
            flex: 0 0 100%;
            margin-bottom: 2rem;

            &:last-child {
                margin-bottom: 0;
            }

            h1 {
                font-size: 1.25rem;
                margin-bottom: 1rem;
            }
        }
    }

    @media screen and (max-width: 500px) {
        padding: 20px 5% 30px;
        flex-direction: column;
        gap: 0;
    }
}