.card{
    // border: 1px solid red;
    flex: 1;
    flex-basis: 350px;

    img{
        // min-width: 350px;
    }

    div{
        p{
            font-weight: 600;
            font-size: 1.4rem;
            margin-bottom: 16px;
        }

        span{
            color: lightslategray;
        }
    }
}